<%= render 'shared/errors', obj: @clinic %>
<div class="state-form">
  <%= form_for(@clinic, :html => {class: "form-horizontal", role: "form" }) do |f| %>
    <div class="form-group">
      <div class="forminfo">
        <%= f.label :lab %><br>
        <%= f.text_field :lab, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :detail %><br>
        <%= f.text_field :detail, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :addr1 %><br>
        <%= f.text_field :addr1, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :addr2 %><br>
        <%= f.text_field :addr2, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :city %><br>
        <%= f.text_field :city, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :state %><br>
        <%= f.text_field :state, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :zip %><br>
        <%= f.text_field :zip, class: "form-control", placeholder: "Zipcode", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :phone %><br>
        <%= f.text_field :phone, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :ext %><br>
        <%= f.text_field :ext, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :fax %><br>
        <%= f.text_field :fax, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :longitude %><br>
        <%= f.text_field :longitude, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :latitude %><br>
        <%= f.text_field :latitude, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit(@clinic.new_record? ? "Add Clinic" : "Update Clinic", class: "btn btn-primary") %>
      </div>
    </div>
  <% end %>
</div>
