<% @page_title = "All Testing Clinics" %>

<!-- rake geocode:all CLASS=Clinic SLEEP=0.25 BATCH=50 -->
<div class="full">
	<div class="wrap-lg">
		<div class="col-md-6">
			<h1><%= @page_title %></h1>
		</div>

		<div class="col-md-3 col-md-offset-3">
			<br><br>
		  <% if current_user.admin? %>
			<%= link_to "Add New Clinics", new_clinic_path, class: "btn btn-default" %>
			<% end %>
		</div>
		<div class="clearfix"></div><br>
		<hr>
			<%= form_with(url: clinics_path, class: "form-inline", local: true, method: :get) do |f| %>
			  <%= f.text_field :near, class: "form-control", placeholder: "Search" %>
			  <%= f.submit "Search", class: "btn btn-default search" %>
			<% end %>
		<hr>

		<div class="map-box">
			<%= tag.div nil, id: 'map', data: { clinics: @clinics.to_json(methods: [:address]), l: params[:l] } %>
			<%= link_to "Redo search in this area", "#", id: "redo-search" %>
		</div>

		<div class="clinics-list">
			<table class="clinics-table">
				<tbody>
					<% @clinics.each do |clinic| %>
					<tr>
						<td class="id">
							<p><%= clinic.id %>.</p>
						</td>

						<td class="st-addr">
							<%= simple_format(clinic.full_address.titleize) %>
							<% if clinic.longitude && clinic.latitude %>
								<p>[ <%= clinic.latitude %>, <%= clinic.longitude %> ]</p>
							<% end %>
						</td>

						<td class="number">
							<p><small>Phone:</small><br><%= clinic.phone %>
							<% if clinic.ext %><br>Ext: <%= clinic.ext %> <% end %>
							</p>
						</td>

						<td class="fax">
							<p><small>Fax:</small><br> <%= clinic.fax %></p>
						</td>

						<td class="lab">
							<p><%= clinic.lab %></p>
							<% if clinic.detail %><p><%= clinic.detail %> </p><% end %>
						</td>

						<td class="btns">
							<div class="actions">
								<%= link_to("View", clinic_path(clinic), class: 'action show') %>
							  <% if current_user.admin? %><%= link_to("Edit", edit_clinic_path(clinic), class: 'action edit') %><% end %>
							</div>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @clinics, remote: true %>
		</div>
	</div>
</div>


<!--
	IF YOU WANT TO DOWNLOAD CSV
<table class="clinics-table">
	<tbody>
		<% @clinics.each do |clinic| %>
		<tr>
			<td><%= clinic.lab %></td>
			<td><%= clinic.detail %> </td>
			<td><%= clinic.addr1 %></td>
			<td><%= clinic.addr2 %></td>
			<td><%= clinic.city %></td>
			<td><%= clinic.state %></td>
			<td><%= clinic.zip %></td>
			<td><%= clinic.phone %></td>
			<td><%= clinic.ext %></td>
			<td><%= clinic.fax %></td>
			<td><%= clinic.latitude %></td>
			<td><%= clinic.longitude %></td>
		</tr>
		<% end %>
	</tbody>
</table> -->
