<div class="side-bar">
  <nav class="menu">
		<ul class="side-menu">
			<li><%= link_to 'Home', root_path, class: 'sm-link' %></li>
			<li><%= link_to 'Testing', testing_path, class: 'sm-link' %></li>
			<!-- <li><%= link_to 'States', states_path, class: 'sm-link' %></li> -->
			<!-- <li><%= link_to 'Clinics', clinics_path, class: 'sm-link' %></li> -->
			<li><%= link_to 'Locations', locations_path, class: 'sm-link' %></li>
			<li><%= link_to "FAQ's", faq_path, class: 'sm-link' %></li>
			<div class="clearfix"></div>
			<br><br><hr><br>
		  <!-- <% if current_user.try(:admin?) %>  -->
				<!-- <p><small><b>Download:</small></p> -->
				<!-- <%= link_to "Download CSV", locations_path(format: "csv"), class: 'btn btn-default dl' %>  -->
				<!-- <div class="clearfix"></div><br>
			  <%= link_to "Excel", locations_path(format: "xls"), class: 'btn btn-default dl' %> -->
			<!-- <% end %>  -->
		</ul>
  </nav>
</div>
