<% @page_title = "All Testing Locations" %>

<!-- rake geocode:all CLASS=Location SLEEP=0.25 BATCH=50 -->
<div class="full all-search">
	<div class="wrap-lg">
		<div class="title-left">
			<h1><%= @page_title %></h1>
		</div>

		<div class="btns-right">
		  <% if current_user.admin? %>
			<%= link_to "Add New Locations", new_location_path, class: "btn btn-default" %>
			<% end %>
		</div>
		<div class="clearfix"></div>

		<hr class="search-border top">
		<%= form_with(url: locations_path, class: "form-inline", local: true, method: :get) do |f| %>
		  <%= f.text_field :near, class: "form-control", placeholder: "Search" %>
		  <%= f.submit "Search", class: "btn btn-default search" %>
		<% end %>
		<hr class="search-border btm">

		<div class="map-box">
			<%= tag.div nil, id: 'map', data: { locations: @locations.to_json(methods: [:address]), l: params[:l] } %>
			<%= link_to "[ Redo search in this area ]", "#", id: "redo-search" %>
			<div class="pag-box map-side">
				<!-- <= will_paginate @locations, remote: true %> -->
			</div>
			<!-- <h4 class="loc-count"><= @locations.size %> Locations</h4> -->
		</div>

		<div class="locations-list">
			<table class="locations-table">
				<tbody>
					<!-- <div class="pag-box top"><= will_paginate @locations, remote: true %></div> -->
					<div class="clearfix"></div>

					<tr class="toprow">
						<td class="st-addr">
							<p>Address</p>
						</td>

						<td class="number">
							<p>Phone</p>
						</td>

						<td class="fax">
							<p>Fax</p>
						</td>

						<td class="lab">
							<p>Lab/Details</p>
						</td>
					</tr>

					<% @locations.each do |location| %>
					<tr class="results">
						<td class="st-addr">
							<p>
								<%= location.addr1.titleize %><br>
								<% if location.addr2 %><%= location.addr2.titleize %><br><% end %>
								<%= location.city.titleize %>, <%= location.state.upcase %> <%= location.zip %>
							</p>
						</td>

						<td class="number">
							<p>
								<%= number_to_phone(location.phone, delimiter: '.', area_code: true) %>
							<% if location.ext %><br><span class="ext">Ext: <%= location.ext %></span> <% end %>
							</p>
						</td>

						<td class="fax">
							<p>
								<%= number_to_phone(location.fax, delimiter: '.', area_code: true) %></p>
						</td>

						<td class="lab">
							<p><%= location.lab %>
								<% if location.detail %><br><span class="dets"><%= location.detail %></span><% end %>
							</p>
						</td>

						<td class="btns">
							<div class="actions">
								<% if current_user.admin? %>
									<%= link_to("[View]", location_path(location), class: 'action view') %>
								  <%= link_to("[Edit]", edit_location_path(location), class: 'action edit', target: "_blank") %>
							  <% end %>
							</div>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<!-- <div class="pag-box btm"><= will_paginate @locations, remote: true %></div> -->
		</div>
	</div>
</div>
