<meta name="description" content= "<%= @page_description %>">
<title><%= @page_title  %> | GDTT Help Center</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- <%= javascript_include_tag "//maps.googleapis.com/maps/api/js" %> -->
  <%= javascript_include_tag "//maps.google.com/maps/api/js?key=", 'application', 'data-turbolinks-track': 'reload' %>
